@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
/*Fonts*/
@font-face {
	font-family: "timeburnerbold";
	src: url("Fonts/Timeburner/timeburnerbold.ttf");
}
@font-face {
	font-family: "timeburnernormal";
	src:url("Fonts/Timeburner/timeburnernormal.ttf");
}
@font-face {
	font-family: "Bellota-Bold";
	src:url("Fonts/Bellota/Bellota-Bold.otf");
	}
@font-face {
	font-family: "Bellota-BoldItalic";
	src:url("Fonts/Bellota/Bellota-BoldItalic.otf");
}
@font-face {
	font-family: "Bellota-Italic";
	src:url("Fonts/Bellota/Bellota-Italic.otf");
}
@font-face {
	font-family: "Bellota-Light";
	src:url("Fonts/Bellota/Bellota-Light.otf");
}
@font-face {
	font-family: "bellota-LightItalic";
	src:url("Fonts/Bellota/Bellota-LightItalic.otf");
}
@font-face {
	font-family: "Bellota-Regular";
	src:url("Fonts/Bellota/Bellota-Regular.otf");
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1.2em;
    line-height: 1.6em;
    color: #654;
    background: #f8b2a3;
}

header {
    width: 100%;
    height: 100%;
    background: url(../img/Digital_Bay.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: url(../img/Digital_Bay.svg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    content: "";
}

.alt {
    width: 100%;
    background-color: #706687;
    color: #ffffff;
}

.content {
    width: 11em;
    padding: 3em 0;
    margin: 0 auto;
}

h2 {
    font-family: 'Bree Serif', serif;
    font-size: 1.875em;
    padding: 0 60px;
}

p {
    padding: 0 60px 30px;
}

.light {
    text-align: center;
    line-height: 1.4em;
}

.dark {
    color: #706687;
    line-height: 1.4em;
}

.foot {
    font-family: 'Bree Serif', serif;
    width: 100%;
    background-color: #473e5a;
    color: #ffffff;
}
.google_translate_element {
	background-color: rgba(255, 255, 255, 0.6);
	float: center;
}